<table class="table">
<% if users.exists? %>
  <thead>
    <tr>
      <th></th>
      <th>name</th>
      <th>introduction</th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= attachment_image_tag(user, :profile_image, :fill, 50, 50, fallback: "no-image-icon.jpg") %></td>
        <td><%= user.name %></td>
        <td><%= user.introduction %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <p>該当するユーザーはいません</p>
<% end %>